<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Productos</h4>
    <div class="btn-group pull-right">
      <span>{{main.cart.length}} productos agregados  
      <a href class="btn btn-default btn-sm" data-toggle="modal" data-target="#cartModal">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in main.productos">
            <td><img ng-src="{{item.picture}}" width="160" class="img-thumbnail"></td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price | currency : $ : 2}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" ng-class="{disabled:item.disabled}" ng-click="main.addToCart(item,$index)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Carrito de compra</h4>
      </div>
      <div class="modal-body">
        <ul class="media-list">
          <li class="media" ng-repeat="item in main.cart">
            <div class="media-left">
              <a href="#">
                <img class="media-object" ng-src="{{item.picture}}" width="80" >
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{item.title}} - {{item.qty}} UN</h4>
              {{item.description}}
              <br>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary btn-sm" ng-click="main.plusItemCart($index)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="main.minusItemCart($index)">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="main.removeItemCart($index)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>